/* //dashboard style started// */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.style{
  /* width: 1250px; */
}


.topnav {
  overflow: hidden;
  background-color: rgb(89, 67, 189);
}

.rounded-pill{
  width: 50px;
}
.nav-text-align
{
  margin-left: 30px;
}
.nav-item{
  padding-left: 10px;
}
.profile-icon{
  position: relative;
  left: 250px;
}


.response{
  position: relative;
  left: 200px;
  padding-top: 8px;
}

.d-flex{
  position: relative;
  left: 100px;
  width: 600px;
}

.title{
 margin-left: 400px;
}






.test{
  width: 70%;
  margin: 50px;
}

/* 
table, td  {
  
  text-align: center;
  table-layout: fixed;
  color: black;
  
} 
.bordered{
 border: 2px solid blueviolet;
}

.tablesize{
  width: 100%;
  position: relative;
  left: 30px;
  /* border: 2px solid saddlebrown; */
/* } */

/* th {
  width: 200px;
  height: 70px;
  padding: 10px;
  text-align: center;

}



td{
  width: 300px;
  height: 70px;
  text-align: center;

  padding: 30px;
  
} */ */





 

.action .profile {
  margin:0;
  padding:0;
  font-family:'poppins',sans-serif;
} 

.profileicon{
  position: relative;
}
.image{
  height: 50px;
  position: relative;
  left: 700px;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
}

.myaccount{
  height: 30px;
  position: inherit;
  border-radius: inherit;
  overflow: hidden;
}


.action{
text-align-last: left;
  width: 100px;
  position: absolute;
  left: 200px;
  z-index: 9;

  
}




.menu{
  

  background: rgb(238, 235, 235);
  box-sizing:  0 4px 20px rgb(155, 13, 13);
  border-radius: 16px;
  transition: 0.5s;
  cursor: pointer;
  
  

 }
.active{
  top:-40px;
  visibility: visible;
  opacity: 1;
  color: inherit;
  text-decoration: inherit;
  padding-left: 10px;
}
 
.divimage{
  width: 40px;
}

 .menu{
   position: relative;
   left: 850px;
  width: 200px;
  height: 200px;
  font-size: 18px;
  
  padding-left: 25px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-top: 20px;
  font-weight: 500;
  font-size: 20px;
  color:rgb(62, 157, 235);
  line-height: 1.0em;
  transition: 0.5s;
  overflow: hidden;
  z-index: 9;
  align-items: center;

 }
.logout{
  margin-left: 30px;

}
  
 .menu  img{
  opacity: 1;
}

.action{
  display:inline-block;
  text-decoration: none;
  color: rgb(211, 5, 5);
  font-weight: 500;
  transition: 0.5x;

}
.action .menu ul a:hover{
  color: #ff5d94;
}




/* //login and signup css// */


input,
button {
  font-family: "Ubuntu", sans-serif;
  outline: none;
  font-size: 1rem;
}

/* login and signup.css started */

 .container {
  max-width: 550px;
  max-height: 830px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(228, 116, 228, 0.76),rgba(103, 202, 209, 0.836));;
  padding: 100px;
  border-radius: 3px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

h2 {
  color: #0c0c0c;
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 32px;
}

.loginform {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.loginform form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.loginform form label {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.loginform form input {
  padding: 10px;
  font-size: 16px;
  border: 3px solid #a5a5a5;
  border-radius: 10px;
  margin-bottom: 5px;
}

.loginform form input:hover {
  border-color: #0d6efd;
}

.loginform form input:focus {
  border-color: #8ebd38d5;
}

[type="submit"] {
  background: #0d6efd;
  color: white;
  border: 1px solid  #0d6efd;
  border-radius: 10px;
  padding: 12px 0;
  margin-left: 25%;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: 5px;
  font-weight: bold;
  width: 50%;
}

[type="submit"]:disabled {
  background: #000000;
}

[type="submit"]:disabled:hover {
  box-shadow: none;
}


.success-msg,
.err-msg {
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 10px;
  border-radius: 3px;
}

.success-msg {
  color: #ffffff;
  background-color: #20c997;
  border-color: rgba(0, 0, 0, 0.1);
}

.bottom-link {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-variant: normal;
}

/* //login and signup.css end// */

/* //myaccount.css// */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  overflow: hidden;
text-align:left;
padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(32, 21, 134);
}


.nav a.active {
  text-decoration: none;
  font-size: 35px;
  height: 40px;
  color: rgb(255, 255, 255);
}
.design{
  background-color: rgb(238, 212, 230);
  margin-left:20%;
  box-sizing:content-box;  
  width:760px;
  height:250px;
  padding: 15px;  
  border: 2px solid rgb(14, 17, 224);
}
.inside{
  text-align: center;
  text-justify: initial;
  text-orientation: inherit;
  padding-left: 10px;
}

.topic{
  color: #dc3545;
}
h3{
  text-align: center;
  color: rgb(14, 17, 224);
}
.path{
  background: rgb(94, 124, 223);
  color: white;
  border: 1px solid  #e1e5eb;
  border-radius: 15px;
  padding: 13px 0;
  padding-right: 15px;
  padding-left: 45px;
  margin-left: 220px;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: 58px;
  font-weight: bold;
  text-decoration: none;
  width: 20%;
}

.way {
  background: rgb(94, 124, 223);
  color: white;
  border:1px solid  #ebeff5;
  border-radius: 15px;
  padding: 13px 0;
  padding-left: 55px;
  margin-left: 54%;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: -84px;
  font-weight: bold;
  text-decoration: none;
  width: 20%;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

/* faq form design */
.project{
  max-width: 1000px;
  max-height: auto;
  margin: 0 auto;
  background-image: linear-gradient(rgba(228, 116, 228, 0.76),rgba(103, 202, 209, 0.836));;
  /* background-image: linear-gradient(rgba(46, 141, 146, 0.76),rgba(128, 209, 103, 0.836));; */
  padding: 120px;
  border-radius: 3px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

h2 {
  color: #0c0c0c;
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 32px;
}

.model{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.model form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.model form label {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.model form input {
  padding: 10px;
  font-size: 16px;
  border: 3px solid #a5a5a5;
  border-radius: 10px;
  margin-bottom: 5px;

}

.model form input:hover {
  border-color: #0d6efd;
}

.model form input:focus {
  border-color: #8ebd38d5;
}

textarea{
  height: 100px;
}

  











